.BoxList{
border: solid 1px #e7501e;
      border-radius: 10px;
      padding: 20px 0;

}

.graph{
      background-color: #e7501e;
      color: #e7501e;
      background: transparent;
  border-radius: 3px;
  border: 2px solid #e7501e;
  color: #e7501e;
  margin: 0 1em;
  padding: 0.25em 1em;
}
